p {
    color: #555555;
}

.all-btn {
    background-color: #25334d;
    color: #d9e4dd;
    border: none;
}

.all-btn:hover {
    cursor: pointer;
    background-color: #33476b;
}

//.mat-form-field + .mat-form-field {
//  margin-left: 8px;
//}

.container { 
    margin-left: 0px !important;
}
