h1 {
    color: #25334d !important;
    font-family: "Lato";
}

.btn {
    background-color: #25334d;
    color: #d9e4dd;
    border: none;
}

.btn:hover {
    cursor: pointer;
    background-color: #33476b;
}