p {
    color: #555555;
}

.fav-btn {
    background-color: #25334d;
    color: #d9e4dd;
    border: none;
}

.fav-btn:hover {
    cursor: pointer;
    background-color: #33476b;
}

.container { 
    margin-left: 0px !important;
}