/* You can add global styles to this file, and also import other style files */

mat-card {
    background-color: #d9e4dd;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans';
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
}


