h1 {
    color: #25334d !important;
    font-family: "Lato";
}

.logoff-btn {
    background-color: #25334d;
    color: #d9e4dd;
    border: none;
    margin: 0px;
    padding: 0px;
}

.logoff-btn:hover {
    cursor: pointer;
    background-color: #33476b;
}

.container { 
    margin-left: 0px !important;
}
